pipeline/pl_copytodatabase.json
{
	"name": "pl_copytodatabase",
	"properties": {
		"activities": [
			{
				"name": "Get Folder Names from source blob",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Getmetadata_Source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"recursive": true,
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "Get Folder Names from source blob",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('Get Folder Names from source blob').output.childItems",
						"type": "Expression"
					},
					"isSequential": false,
					"activities": [
						{
							"name": "Get Files from sourcefiles",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Getmetdata_fileinfo",
									"type": "DatasetReference",
									"parameters": {
										"Directoryname": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems",
									"exists"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"recursive": true,
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "Copy data from source to destination",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "Get Files from sourcefiles",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_createtables",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Subdirectory": {
										"value": "@item().name",
										"type": "Expression"
									},
									"filenames": {
										"value": "@activity('Get Files from sourcefiles').output.childItems",
										"type": "Expression"
									},
									"fileexist": {
										"value": "@activity('Get Files from sourcefiles').output.exists",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"variables": {
			"Dummy": {
				"type": "String"
			}
		},
		"folder": {
			"name": "Copy from Blob"
		},
		"annotations": []
	}
}