pipeline/pl_foreach_insideforeach.json
{
	"name": "pl_foreach_insideforeach",
	"properties": {
		"activities": [
			{
				"name": "1st Stage",
				"type": "GetMetadata",
				"dependsOn": [],
				"policy": {
					"timeout": "0.12:00:00",
					"retry": 0,
					"retryIntervalInSeconds": 30,
					"secureOutput": false,
					"secureInput": false
				},
				"userProperties": [],
				"typeProperties": {
					"dataset": {
						"referenceName": "DS_Getmetadata_Source",
						"type": "DatasetReference"
					},
					"fieldList": [
						"childItems"
					],
					"storeSettings": {
						"type": "AzureBlobStorageReadSettings",
						"enablePartitionDiscovery": false
					},
					"formatSettings": {
						"type": "DelimitedTextReadSettings"
					}
				}
			},
			{
				"name": "Loop",
				"type": "ForEach",
				"dependsOn": [
					{
						"activity": "1st Stage",
						"dependencyConditions": [
							"Succeeded"
						]
					}
				],
				"userProperties": [],
				"typeProperties": {
					"items": {
						"value": "@activity('1st Stage').output.childItems",
						"type": "Expression"
					},
					"activities": [
						{
							"name": "2nd stage",
							"type": "GetMetadata",
							"dependsOn": [],
							"policy": {
								"timeout": "0.12:00:00",
								"retry": 0,
								"retryIntervalInSeconds": 30,
								"secureOutput": false,
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"dataset": {
									"referenceName": "DS_Source_Getmetadata_2ndstage",
									"type": "DatasetReference",
									"parameters": {
										"Directoryname": {
											"value": "@item().name",
											"type": "Expression"
										}
									}
								},
								"fieldList": [
									"childItems"
								],
								"storeSettings": {
									"type": "AzureBlobStorageReadSettings",
									"enablePartitionDiscovery": false
								},
								"formatSettings": {
									"type": "DelimitedTextReadSettings"
								}
							}
						},
						{
							"name": "3rd stage",
							"type": "ExecutePipeline",
							"dependsOn": [
								{
									"activity": "2nd stage",
									"dependencyConditions": [
										"Succeeded"
									]
								}
							],
							"policy": {
								"secureInput": false
							},
							"userProperties": [],
							"typeProperties": {
								"pipeline": {
									"referenceName": "pl_getsubdirectory",
									"type": "PipelineReference"
								},
								"waitOnCompletion": true,
								"parameters": {
									"Subdirectory": {
										"value": "@activity('2nd stage').output.childItems",
										"type": "Expression"
									},
									"Directory": {
										"value": "@item().name",
										"type": "Expression"
									}
								}
							}
						}
					]
				}
			}
		],
		"annotations": []
	}
}